/*--------- set variables-----------*/
:root {
    /*--------colors----------*/
    --black-color: black;
    --orange-color: #EEA302;
    --red-color: #E13B25;
    --brown-color: #593E03;
    --blue-color: #80D8DA;
    --grey-color: #DFDFDF;
    /*-----padding--------*/
    --default-padding: 2rem 4rem;
    --section-padding: 9rem 0;
    /*----border-------*/
    --btn-border: 1px solid #593E03;
    /*--------font-fammily--------*/
    font-family: '-apple-system', 'BlimKMacsSystemfont', 'segoe UI', 'Roboto', 'Helvectica', Arial, sans-serif;

}

/* ---------------- Reset all styles --------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 5rem;
    padding: 3rem;
    color: var(--black-color);
}

a {
    text-decoration: none;
    color: inherit;
}



/*------- index-html ---------*/

/*-------header---------*/

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header li {
    list-style: none;
}

.header__logo {
    font-size: 20px;
    color: var(--black-color);
    font-weight: 700;
}

.nav {
    justify-content: space-between;
    align-items: center;
}

.nav__links {
    display: flex;
    font-size: 1rem;
}

.nav__links--border {
    border-right: 1px solid var(--black-color);
}

.nav ul li {
    padding: 0px 10px;
}

nav a:hover {
    color: var(--grey-color)
}

.about__btn a:hover {
    color: var(--grey-color)
}

/*------main------*/
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
    padding-bottom: 10rem;
}

.hero li {
    list-style: none;
}

/*--about section--*/
.about {
    padding: var(--section-padding);
}

.about__container {
    display: flex;
}

.about__image {
    padding-right: 3rem;
}

.about__image--profil {
    height: 25rem;
    width: 25rem;
    border-radius: 50%;
}

.about__description {
    padding-right: 10rem;

}

.about__title {
    padding-top: 2rem;
    padding-bottom: 1rem;
    font-size: 3rem;

}

.about__subtitle {
    padding: 1rem 0rem;
}

.about__text {
    width: 30rem;
}

.about__btn {
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding-top: 5rem;
}

.about__btn--cv {
    padding: 2rem;
    background: var(--orange-color);
    border: 1px solid var(--brown-color);
    border-radius: 50%;
}

.about__btn--projets {
    padding: 2rem 1rem;
    background: var(--red-color);
    border: 1px solid var(--brown-color);
    border-radius: 50%;
}

.about__btn--contact {
    padding: 2rem 1rem;
    background: var(--blue-color);
    border: 1px solid var(--brown-color);
    border-radius: 50%;
}

/*--------- cv -----------*/
.description {
    padding-top: 4rem;
}

.description__title {
    font-size: 1.4rem;
    margin-bottom: 2rem;
}

.section__description {
    padding: 2rem;

}

.section__description--subtitle {
    font-size: 1.3rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.section__description--post {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;
    height: 4rem;
}

.hidden__description {
    visibility: hidden;
}

.section__description--list {
    padding: 2rem;
    line-height: 1.8rem;
}

.section__description--border {
    border-top: 1px solid rgba(218, 211, 211, 0.903);
}

/*-------- projets html ------*/
.projets {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.projets__description {
    justify-content: center;
    justify-content: space-between;
}

.projets__title {
    padding-top: 1rem;
    padding-bottom: 3rem;
    margin-left: 5rem;
}

.projets__text {
    display: block;
    justify-content: center;
    text-align: left;
    position: absolute;
    width: 30rem;
    line-height: 1.7rem;
    margin-left: 5rem;
}

.projets__image {
    display: flex;
    justify-content: center;
    padding-left: 45rem;
}

.projets__image--img {
    margin-bottom: 5rem;
    width: 40%;
    border: 1rem solid var(--grey-color);
}

/*--------- contact html ---------*/

/*---- section contact -----*/
.contact {
    display: flex;
    justify-content: center;
    gap: 20rem;
    padding-top: 15rem;
    padding-bottom: 10rem;
}

.contact li {
    list-style: none;
}

.section-contact {
    font-size: 1.2rem;
}

/*----- section from -----*/
.from__info {
    display: flex;
}

.from__info--name {
    gap: 6rem;
    margin-bottom: 15px;
}

.from__info--subject {
    gap: 6rem;
    padding-bottom: 2rem;
}

.from__info--submit {
    justify-content: space-around;
    gap: 1rem;
    margin-bottom: 15px;
}

.from__info--send {
    padding: 2rem;
    margin: 2rem;
    border-radius: 50%;
    background: var(--orange-color);
    border: 1px solid #593E03;
}

/*-------footer--------*/
.footer {
    border-top: 1px solid rgba(218, 211, 211, 0.903);
    padding-top: 1.5rem;

}

.footer__nav {
    display: flex;
    width: 100%;
    justify-content: space-between;

}

.hidden {
    visibility: hidden;
}


.footer__icon {
    font-size: 1rem;
}

.copyright {
    font-size: 12px;
}

/*---responsive index htlml---*/

/*-----responsive for mobile ------*/

@media screen and (max-width: 767px) {

    .header {
        flex-direction: column;
    }

    .header__logo {
        padding-bottom: 2rem;
    }

    .about {
        padding: 2rem;
    }

    .about__container {
       flex-direction: column;
    }

    .about__text {
        max-width: 20rem;
    }

    .about__image--profil {
        max-height: 20rem;
        max-width: 20rem;
        border-radius: 50%;

    }

    .about__description {
        padding: 2rem;

    }

    .about__btn {
        padding-top: 4rem;
    }

    .about__btn--cv {
        padding: 1.7rem;
        background: var(--orange-color);
        border: 1px solid var(--brown-color);
        border-radius: 50%;
    }

    .about__btn--projets {
        padding: 1.7rem 0.7rem;
        background: var(--red-color);
        border: 1px solid var(--brown-color);
        border-radius: 50%;
    }

    .about__btn--contact {
        padding: 1.5rem 0.5rem;
        background: var(--blue-color);
        border: 1px solid var(--brown-color);
        border-radius: 50%;
    }

    .about__description {
        padding: none;
        text-align: center;

    }

    .about__text {
        width: 20rem;
    }

    .about__image {
        padding: 2rem;
    }

    .footer__nav {
        flex-direction: column;
        text-align: center;
    }

    .footer__nav--info {
        padding-top: 2rem;

    }

}
/*------- responsive for table --------*/
@media screen  and (min-width:767px) and (max-width:1023px) {

    .about__container {
      flex-direction: column;
    }

    .about__image--profil {
        max-height: 25rem;
        max-width: 25rem;
        border-radius: 50%;

    }

    .about__description {
        padding: 5rem;
        text-align: center;
    }

    .about__btn {
        padding-top: 7rem;
    }

    .about__btn--cv {
        padding: 2rem;
        background: var(--orange-color);
        border: 1px solid var(--brown-color);
        border-radius: 50%;
    }

    .about__btn--projets {
        padding: 2rem 1rem;
        background: var(--red-color);
        border: 1px solid var(--brown-color);
        border-radius: 50%;
    }

    .about__btn--contact {
        padding: 2rem 0.8rem;
        background: var(--blue-color);
        border: 1px solid var(--brown-color);
        border-radius: 50%;
    }

    .about__description {
        padding: none;
        text-align: center;

    }
    .about__title {
        padding-top: 2rem;
        padding-bottom: 1rem;
        font-size: 4rem;
    
    }
    
    .about__subtitle {
        padding: 1rem 0rem;
        font-size: 2rem;
    }
    
    .about__text {
        max-width: 20rem;
        font-size: 1.2rem;
    }

    .about__image {
        padding: 2rem;
    }
    .footer__nav {
        flex-direction: column;
        text-align: center;
    }

    .footer__nav--info {
        padding-top: 2rem;

    }
}

/*------- responsive cv -------*/
@media screen and (max-width:767px) {
    body {
        margin: 1rem;
        padding: 1.2rem;
    }
    .description__title {
        font-size: 1.4rem;
        padding-top: 4rem;

    } 
}

/*------- responsive projets -------*/
@media screen and (max-width:767px) {
    .projets {
        display: flex;
        flex-direction: column;
       /* margin-top: 5rem;
        margin-bottom: 5rem;*/
    }
    
    .projets__description {
        justify-content: center;
    }
    
    .projets__title {
        text-align: center;
        padding-top: 1rem;
        padding-bottom: 3rem;
      
    }
    
    .projets__text {  
    justify-content: center;
    /*position: absolute;*/
    max-width: 25rem;
    
   
    }
    
    .projets__image {
        justify-content: center;
        padding: 1rem;
    }
    
    .projets__image--img {
        margin-bottom: 5rem;
        width: 40%;
        border: 1rem solid var(--grey-color);
    }
}