/*--------- set variables-----------*/
:root {
    /*--------colors----------*/
    --black-color: black;
    --orange-color: #EEA302;
    --red-color: #E13B25;
    --brown-color: #593E03;
    --blue-color: #80D8DA;
    --grey-color: #DFDFDF;
    /*-----padding--------*/
    --default-padding: 2rem 4rem;
    --section-padding: 9rem 0;
    /*----border-------*/
    --btn-border: 1px solid #593E03;
    /*--------font-fammily--------*/
    font-family: '-apple-system', 'BlimKMacsSystemfont', 'segoe UI', 'Roboto', 'Helvectica', Arial, sans-serif;

}
/* ---------------- Reset all styles --------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 50px;
    padding: 30px;
    color: var(--black-color);
}

a {
    text-decoration: none;
    color: inherit;
}



/*------- index-html ---------*/

/*-------header---------*/

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.header li {
    list-style: none;
}
.header__logo{
    font-size: 20px;
    color: var(--black-color);
    font-weight: 700;
}
.nav{
    justify-content: space-between;
    align-items: center;
}
.nav__links{
    display: flex;
    font-size: 1rem;
}
.nav__links--border{
    border-right: 1px solid var(--black-color);
}
.nav ul li {
    padding: 0px 10px;
}
nav  a:hover{
    color:var(--grey-color)
}
.about__btn a:hover{
    color:var(--grey-color)
}
/*------main------*/
.hero{
     display: flex;
     justify-content: center;
     align-items: center;
     padding-top: 5rem;
     padding-bottom: 10rem;
}
.hero li {
    list-style: none;
}
/*--about section--*/
.about{
  padding: var(--section-padding);
}
.about__container{
  display: flex;
}
.about__image{
    padding-right: 3rem;
}
.about__image--profil{
    height: 25rem;
    width: 25rem;
    border-radius: 50%;
}
.about__description{
 padding-right: 10rem;

}
.about__title{
    padding-top: 2rem;
    padding-bottom: 1rem;
    font-size: 3rem;

}
.about__subtitle{
    padding: 1rem 0rem;
}
.about__text{
    width: 30rem;
}
.about__btn{
    justify-content: space-between;
    align-items: center;
   display: flex; 
    padding-top: 5rem;
}
.about__btn--cv{
    padding: 2rem;
    background: var(--orange-color);
    border: 1px solid var(--brown-color);
    border-radius: 50%;
}
.about__btn--projets{
    padding: 2rem 1rem;
    background: var(--red-color);
    border: 1px solid var(--brown-color);
    border-radius: 50%;
}
.about__btn--contact{
    padding: 2rem 1rem;
    background: var(--blue-color);
    border: 1px solid var(--brown-color);
    border-radius: 50%;
}

/*--------- cv -----------*/
.description{
padding-top: 4rem;
}
.description__title{
    font-size: 1.4rem;
    margin-bottom: 2rem;
}
.section__description{
    padding: 2rem;

}
.section__description--subtitle{
    font-size: 1.3rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.section__description--post{
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;
    height: 4rem;
}
.hidden__description{
    visibility: hidden;
}
.section__description--list{
    padding: 2rem;
    line-height: 1.8rem;
}
.section__description--border{
    border-top: 1px solid rgba( 218, 211, 211, 0.903);
}
/*--------- contact html ---------*/

.contact{
    display: flex;
  justify-content: center;
  gap: 20rem;
  padding-top: 15rem;
  padding-bottom: 10rem;
}
 .contact li{
    list-style: none;
}
.section-contact{
    font-size: 1.2rem;
 }
 .from__info{
    display: flex;
 }
 .from__info--name{
    gap: 6rem;
    margin-bottom: 15px;
 }
 .from__info--subject{
    gap: 6rem;
    padding-bottom: 2rem;
 }
 .from__info--submit{
    justify-content: space-around;
    gap: 1rem;
    margin-bottom: 15px;
 }
 .from__info--send{
    padding: 2rem;
    margin: 2rem;
    border-radius: 50%;
    background: var(--orange-color);
    border: 1px solid #593E03;
 }

/*-------footer--------*/
.footer{
   border-top: 1px solid rgba( 218, 211, 211, 0.903);
    padding-top: 1.5rem;
   
}
.footer__nav{
    display: flex;
    width: 100%;
    justify-content: space-between;

}
.hidden {
    visibility: hidden;
  }


.footer__icon{
    font-size: 1rem;
}
.copyright{
    font-size: 12px;
}
/*---responsive index htlml---*/

@media screen and (max-width: 767px) {
    
    .header{ 
        flex-direction: column;
    }
    .header__logo{
        padding-bottom: 2rem;
    }
    .about{
        padding: 1rem;
    }
    .about__container{
        display: block;
    }
    .about__text{
        width: 15rem;
    }
    .about__image--profil{
        height: 20rem;
         width: 20rem;
        border-radius: 50%;
      
    }
    .about__description{
        padding: 2rem;
       
       }
       .about__btn{
        padding-top: 4rem;
    }
       .about__btn--cv{
        padding: 1.7rem;
        background: var(--orange-color);
        border: 1px solid var(--brown-color);
        border-radius: 50%;
    }
    .about__btn--projets{
        padding: 1.7rem 0.7rem;
        background: var(--red-color);
        border: 1px solid var(--brown-color);
        border-radius: 50%;
    }
    .about__btn--contact{
        padding: 1.5rem 0.5rem;
        background: var(--blue-color);
        border: 1px solid var(--brown-color);
        border-radius: 50%;
    }
    .about__description{
        padding: none;
        text-align: center;
       
       }
       .about__text{
        width: 20rem;
    }
    .about__image{
        padding: 2rem;
    } 
    .footer__nav{
       flex-direction: column;
       text-align: center;
    }
    .footer__nav--info{
        padding-top: 1.5rem;

    }
   
}
/*------- responsive cv -------*/
@media screen and(min-width: 767px) {
  
}
/* cv */

/*#h1-cv{
    font-size: 1.4rem;
    margin-bottom: 2rem;
}
#main-cv{
  margin: 2rem;
   padding: 10rem;
}
.section-h3{
    font-size: 1.3rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
   }
.head-h4-cv{
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;
    height: 4rem;
}
.head-p-ul{
   padding: 1.5rem;
   line-height: 1.8rem;
}
.border-1-cv{
    border-top: 1px solid rgba( 218, 211, 211, 0.903);
}*/

/* contact */
/*#main-contact{
  display: flex;
  justify-content: center;
  justify-content: space-around;
  padding-top: 20rem;
  padding-bottom: 15rem;
 
}
#section-formulaire{
    font-size: 1rem;
}
.section-contact{
   font-size: 1.2rem;
}
#first-last-name{
    display: flex;
    justify-content: space-between;
    gap: 10%;
    margin-bottom: 15px;
} 
#email-subject{
    display: flex;
    justify-content: space-between;
    gap: 10%;
    margin-bottom: 15px;
}
#message-submit{
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    margin-bottom: 15px;
}
#firstname{
    width: 15rem;
    height: 3rem;
}
#lastname{
    width: 15rem;
    height: 3rem;
}
#email{
    width: 15rem;
    height: 3rem;
}
#subject{
    width: 15rem;
    height: 3rem;
}
#message{
    width: 15rem;
    height: 10rem;
}
#envoyer{
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
    background: #EEA302;
    border: 1px solid #593E03;
    margin: 30px;
}*/
  /* projets */

  /*#main-projets{
   display: flex;
   justify-content: center;
   margin-top: 5rem;
   margin-bottom: 5rem;
   justify-content: space-between;
   
}
#image-projets-1{
  display: flex;
  justify-content: center;
  padding-left: 45rem;
}
#image-projets-2{
    display: flex;
    justify-content: center;
    padding-left: 45rem;
  }
#img-projets-1{
   margin-bottom: 5rem;
   width: 40%;
   border: 20px solid #DFDFDF;
  
}
#img-projets-2{
    margin-bottom: 5rem;
    width: 40%;
    border: 20px solid #DFDFDF;
  
 }
.section-projets-text{
    display: block;
    justify-content: center;
    text-align: left;
    position: absolute;
    width: 30rem;
    line-height: 1.7rem ;
    margin-left: 5rem;
    
}
#main-projets h2{
    padding-top: 1rem;
    padding-bottom: 3rem;
    margin-left: 5rem;
}*/

